* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'lora',Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 22px;
  margin: 10px 20px 30px 40px;
  line-height: 1;
}

p {
  line-height: 1.2;
}


h5 {
  line-height: 0.2;
}

h3 {
  letter-spacing: 3px;
  line-height: 1.2em;
  margin: 10px 20px 30px 40px;
}


/*img {
  position: relative;
  float: left;
  margin-right: 20px;
  max-width: 200px;
  max-height: 150px;
  padding-left: 30%;
  padding-top: 3%;
  padding-right: 40%;
}*/

li{
  position: relative;
}

.list-image{
  position: absolute;
  width: 150px;
  height: auto;
  top: 0px;
  left: 0px;
}

#banner{
  background-image: url("../assets/img/DSC_0122.JPG");
}

#page-wrapper{
 position: relative;
 width: 100%;
}

#top-menu{
  height: 40px;
  background-color: #333;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  top:0;
  left: 0;
  right:0;
  z-index:999999;
}

#top-menu ul, #footer ul{
  list-style: none;
}

#top-menu ul{
  text-align: center;
}

#top-menu ul>li{
  display: inline-block;
  padding: 10px 20px;
}

a{
  text-decoration: none;
  color: #fff;
  line-height: 28px;
}

#banner{
  background-color: beige;
  min-height: 300px;
  position: relative;
}

.banner-text{
  position: absolute;
  right:20%;
  top: 30%;
  text-align: right;
}

.container{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

#main-content section:nth-child(even){
  background-color: #ccc;
}

section{
  padding: 30px 0;
}

h3{
  margin-bottom: 30px;
}

h4{
  margin: 15px 0;
}

p{
  margin-bottom: 15px;
}

#footer{
  min-height: 120px;
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

#footer>.container>div{
  float: left;
}

#footer>.container>div:last-child{
  float: right;
  width: 30%;
}

h1+p{
  font-size: 32px;
  color: #f00;
}

input[type="button"]{
  background-color: blue;
  color: #fff;
  border: 1px solid lightblue;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

li.yellow>a{
  color: yellow;
}

ul>li>a{
  color: #f00;
}

#top-menu ul li a{
  color: aquamarine;
}

p~span{
  color: #0f0;
}

#banner{
  /*background-image: url("assets/img/DSC_0459_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/

  background-image: linear-gradient(270deg, 
  rgba(0, 255, 0) 0%, 
  rgba(0, 255, 0) 24%, 
  rgba(255, 255, 255, 0) 24%, 
  rgba(255, 255, 255, 0) 26%,
  rgba(0, 255, 0) 26%, 
  rgba(0, 255, 0) 28%, 
  rgba(255, 255, 255, 0) 26%, 
  rgba(255, 255, 255, 0) 30%,
  rgba(255, 0, 0) 30%,
  rgba(0, 0, 255) 66%,
  rgba(255, 0, 255) 80%
  );
  
}

#profile-photo{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 30%;
  left:30%;
  box-shadow: 10px 10px 20px 5px #333333aa;
  transition: width 2s, height 2s, transform 2s;
}

#profile-photo img{
  width: 100%;
  height: auto;
}

/*#profile-photo:hover{
  width: 200px;
  height: 200px;
  transform: rotate(360deg);
}*/

section{
  padding: 60px 0;
  margin-top: -30px;
}

#top-menu ul li{
  transition: all 4s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: -2s;
}

#top-menu ul li:hover{            
  background-color: cadetblue;
  font-size: 18px;
}


@keyframes photo-fx{
  0% {width: 130px;transform: scaleX(1.2);}
  25% {width: 180px;transform: scaleX(1.4);}
  50% {width: 200px;transform: scaleX(1.6);}
  75% {width: 180px;transform: scaleX(1.7);}
  100% {width: 150px;transform: scaleX(1);}
}


#profile-photo{            
  animation: photo-fx 2s;
  animation-iteration-count: infinite;
}

.mobile-menu{
  display: none;
}

.image-wrapper{
  max-width: 400px;
  margin: 0 auto;
}

.image-wrapper img{
  width: 100%;
  height: auto;
}

@media screen and (max-width:768px) {
  .mobile-menu{
      display: block;
      padding: 10px 20px;
  }

  #top-menu ul>li {
      display: block;
  }

  #top-menu ul {
      display: none;
  }

  .mobile-menu:hover+ul{
      display: block !important;
      background-color: #333;
      text-align: left !important;
      max-width: 500px;
  }

  h1{
      font-size: 36px;
  }

  h1+p{
      font-size: 24px;
  }

}

@media screen and (max-width:426px) {
  .mobile-menu:hover+ul{
      max-width: 300px;
  }

  h1{
      font-size: 32px;
  }

  h1+p{
      font-size: 18px;
  }
}

.double-image-container{
  position: relative;
}

.double-image{
  position: relative;
  min-height: 270px;

}

.double-image div{
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 2s;
  cursor: pointer;
}

.double-image div:hover{
  z-index: 999999;
  top: 50px;
  left: 50px;
}

.double-image div:hover+div{
  top: 0px;
  left: 0px;
}

.double-image div:last-child{
  top: 50px;
  left: 50px;
}